<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "avatar.jpg" %>
  </div>

    <div id="content">
      <h1>Hey, I'm Hleb Mikulko</h1>
        <p>Waistcoat chambray organic hell of bushwick, hella kale chips 90's beard cornhole whatever locavore mustache. Tote bag cronut hella coloring book bespoke, trust fund prism cornhole la croix selfies tumeric deep v forage shoreditch. Kinfolk narwhal tumblr, semiotics celiac vinyl unicorn neutra freegan kombucha succulents kitsch echo park fanny pack umami. Tote bag health goth banh mi bitters paleo sartorial. Pork belly 8-bit sustainable keytar, tofu stumptown godard vice chillwave DIY. Narwhal hot chicken sustainable austin cold-pressed, </p>
        <p>90's normcore tumeric waistcoat meditation taxidermy health goth keytar poutine before they sold out. Lomo tacos tote bag, plaid jean shorts squid succulents 90's readymade you probably haven't heard of them chicharrones vinyl vaporware.</p>
    </div>
  </div>
</div>
